<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>订单修改界面</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/layui/layui.all.js"></script>

    <style>
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
<input style="display: none" id="class" value="{{ class_info }}">
<input style="display: none" id="subject" value="{{ subject }}">
<input style="display: none" id="t" value="{{ t }}">
    <div class="layui-upload">
      <button type="button" class="layui-btn" id="test1">上传图片</button>
      <div class="layui-upload-list">
        <img class="layui-upload-img" id="demo1">
        <p id="demoText"></p>
      </div>
    </div>
<script>
    layui.use('upload', function(){
        var upload = layui.upload,
            $ = layui.jquery;
      //监听提交

        var class_info = $("#class").val(),
            subject = $("#subject").val(),
            t = $("#t").val();

        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/admin/up_pic/?class_info='+class_info+'&subject='+subject+'&t='+t //改成您自己的上传接口
            ,before: function(obj){
              //预读本地文件示例，不支持ie8
              obj.preview(function(index, file, result){
                $('#demo1').attr('src', result); //图片链接（base64）
              });
            }
            ,done: function(res){
              //如果上传失败
              if(res.code == 0){
                return layer.msg('上传成功！', {
							icon : 6
						});
              }else{
                  return layer.msg('上穿失败！', {
							icon : 5
						});
              }
              //上传成功
            }
            ,error: function(){
              //演示失败状态，并实现重传
              var demoText = $('#demoText');
              demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
              demoText.find('.demo-reload').on('click', function(){
                uploadInst.upload();
              });
            }
          });
    });
</script>
</body>

</html>
